@font-face {
    font-family: 'Roboto', 'sans-serif';
    src: url('../fonts/Roboto-Regular.woff2') format('foff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
        font-weight: 400;
        font-display: swap;
    }

    .icon {
        display: inline-block;
        width: 1em;
        height: 1em;
        stroke-width: 0;
        stroke: currentColor;
        fill: currentColor;
      }
      
      /* ==========================================
      Single-colored icons can be modified like so:
      .icon-name {
        font-size: 32px;
        color: red;
      }
      ========================================== */
      
      .icon-map-marker {
        width: 0.5714285714285714em;
      }
      
      .icon-chevron-right {
        width: 0.6785714285714285em;
      }
      
      .icon-shopping-cart {
        width: 0.9285714285714285em;
      }
      
      .icon-phone {
        width: 0.7857142857142857em;
      }
      
      .icon-bolt {
        width: 0.5005714285714286em;
      }
      
      .icon-location-arrow {
        width: 0.7862857142857141em;
      }
          